body {
    background: linear-gradient(#eec66c, white ,#f7e6a3 );
    height : 100%;
    width: 100%!important;
}

/* *************   HEADER  **************** */

nav a{
    color : #f7e6a3!important;
}

nav img {
    width: 140px;
}
.dark {
    color : black!important;
}

.or {
    background-color: #f7e6a3!important;
}

.orborder {
    border : 2px solid  #f7e6a3;
    color : #f7e6a3;
}

/*  ********** MAIN ************ */

article img {
    max-width: 90%;
}




/* *************** FOOTER ************** */

.footer a {
    font-size: 0.9em;
    color: #f7e6a3;
    text-decoration : none;
}

footer {
    color : #f7e6a3;
    font-size: 0.8em;
    max-width : 100%!important;
}

